
* {
    border: red solid 1px;
}

.main-square {

    display: grid;
    grid-template-columns: 12;
    grid-template-rows: 10;
    border-radius: 10px; 
    height: 500px;
    gap: 5px;

}

#id{
    border-radius: 10px;
    
}

.topleft-square {
    grid-area: 1/1/5/4;
    background-color: hsl(31, 66%, 93%);
    border-radius: 10px;
}


.bottomleft-square {
    grid-area: 5/1/10/4;
    background-color: hsl(39, 100%, 71%);
    border-radius: 10px;
}

.topcenter-square {
    grid-area: 1/4/4/10; 
    background-color: hsl(256, 67%, 59%);
    border-radius: 10px;

}

.centeleft-square {
    grid-area: 4/4/7/7;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.centeright-square {
    grid-area: 4/7/7/10;
    background-color: hsl(39, 100%, 71%);
    border-radius: 10px;

}

.downcenter-square {
    grid-area: 7/4/10/7;
    background-color:hsl(0, 0%, 100%);
    border-radius: 10px;
}

.rightup-square{
    grid-area: 1/10/7/13;
    background-color: hsl(254, 88%, 90%);
    border-radius: 10px;
}

.rightbottom-square{
    grid-area: 7/7/10/13;
    background-color: hsl(256, 67%, 59%);
    border-radius: 10px;
}




