
* {
    border: red solid 1px;
}

.main-square {
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;

}

.topleft-square {
    width: 10%;
    height: 30%;
    margin-left: 0%;
    margin-right: 2.5%;
    margin-top: 0%;
    margin-bottom: 2.5%;
    border-radius: 10px;
}

.bottomleft-square {
    width: 10%;
    height: 30%;
    margin-left: 0%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 0%;
    border-radius: 10px;
}

.topcenter-square {
    width: 50%;
    height: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 0%;
    margin-bottom: 2.5%;
    border-radius: 10px;
}

.centeleft-square {
    width: 10%;
    height: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 10px;
}

.centeright-square {
    width: 10%;
    height: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 10px;
}

.downcenter-square {
    width: 10%;
    height: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 10px;
}

.rightup-square{
    width: 10%;
    height: 40%;
    margin-left: 2.5%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 2.5%;
    border-radius: 10px;
}

.rightbottom-square{
    width: 50%;
    height: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 0%;
    margin-bottom: 2.5%;
    border-radius: 10px;
}

